.view-animate.ng-enter, .view-animate.ng-leave,.view-animate.ng-leave.ng-leave-active,.view-animate.ng-enter.ng-enter-active
	transition all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s

.Animation-right.ng-enter.ng-enter-active
	right -50%
.Animation-right.ng-leave
	right 0
.Animation-right.ng-enter
	right 50%

.Animation-left.ng-leave.ng-leave-active
	left -50%
.Animation-left.ng-leave
	left 0
.Animation-left.ng-enter
	left -50%

.u-center_wrapper
	padding 0 20px
	max-width 640px
	margin-left auto
	margin-right auto

.Main
	padding-top 5em
	&-animation
		overflow-x hidden
		transition .3s all ease-in-out

.Post
	background-color #fff
	border-bottom 1px solid Post_borde
	padding 120px 0
	margin-bottom 4em
	position relative
	transition all .3s ease-in-out
	z-index 3
	&:after
		content " "
		position absolute
		z-index 2
		top 50%
		margin-top -30px
		margin-right -30px
		border-top 30px solid transparent
		border-bottom 30px solid transparent
		border-right 30px solid #fff
		opacity 0
	&-animar
		&:after
			left -30px
			opacity 1
		.Post
			&-imagen
				opacity 1
				z-index 1
				left 0
	&:first-child
		margin-top 3.5em
	&-comments
		list-style none
		padding-left 0
	&-encabezado
		position relative
	&-usuario_link
		color Post_usuario
		font-size 2.5em
		text-decoration none
	&-perfil, &-usuario, &-timestamp
		display inline-block
		vertical-align bottom
	&-text
		margin-bottom 2em
	&-timestamp
		color Post_timestamp
		position absolute
		right 0
		bottom 0
	&-perfil
		width 4em
		height 4em
		border-radius 50%
	&-imagen
		height 100%
		opacity 0
		margin 0
		width 50%
		position fixed
		transition all .4s ease-in-out
		top 5em
		z-index 0
	&-img
		height 100%
		max-width 100%
		width 100%
	&-comentario-form
		padding .5em 0
	&-comentario-input
		border none
		border-bottom 1px solid Post_borde
		outline transparent
		height 2em
		placeholder Post_timestamp
		color darken(Post_timestamp, 30)
		width 100%
		position relative
		&:after
			display block
			position absolute
			content '>'
			top 50%
			left 0
	&-usercomment
		display inline-block
		margin-right 1em
		text-decoration none
		color Post_usuario

