<!DOCTYPE html>
<html>
<head lang="es">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Kisstagram</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/main.css"/>
</head>
<body data-ng-app="app">
<nav class="Menu">
	<div class="Menu-header">
		<div class="Icon">
			<a class="Icon-menu" href="javascript:"></a>
			<ul class="Menu-left">
				<li class="Menu-item"><a class="Menu-link" href="/" title="Home"><i class="fa fa-home"></i></a></li>
				<li class="Menu-item"><a class="Menu-link" href="javascript:" title="Explorar"><i class="fa fa-compass"></i></a>
				</li>
				<li class="Menu-item"><a class="Menu-link" href="/upload" title="Camara"><i class="fa fa-camera"></i></a>
				</li>
				<li class="Menu-item"><a class="Menu-link" href="javascript:" title="Actividad"><i
					class="fa fa-gratipay"></i></a></li>
				<li class="Menu-item Menu-logout"><a class="Menu-link" href="javascript:" title="Cerrar Sesion"><i
					class="fa fa-power-off"></i></a></li>
			</ul>
		</div>
	</div>
</nav>
<main class="Main-animation view-animate-container">
	<div data-ng-view class="Main view-animate Animation-right"></div>
</main>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.js"></script>
<script src="/main.js"></script>
<script type='text/javascript' id="__bs_script__">//<![CDATA[
document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.7.10.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>
