<!DOCTYPE html>
<html>
<head lang="es">
	<meta charset="UTF-8">
	<title>Kisstagram DEMO</title>
	<link rel="stylesheet" href="main.css"/>
</head>
<body>
<nav class="Menu">
</nav>
<main class="Main">
	<section class="Posts">

	</section>
</main>
<script src="main.js"></script>
<script type='text/javascript' id="__bs_script__">//<![CDATA[
document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.7.10.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>
