<!DOCTYPE html>
<html>
<head lang="es">
	<meta charset="UTF-8">
	<title>Kisstagram</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="main.css"/>
</head>
<body>
<nav class="Menu">
	<div class="Menu-header">
		<div class="Icon">
			<a class="Icon-menu" href="javascript:"></a>
			<ul class="Menu-left">
				<li class="Menu-item"><a class="Menu-link" href="javascript:" title="Home"><i class="fa fa-home"></i></a></li>
				<li class="Menu-item"><a class="Menu-link" href="javascript:" title="Explorar"><i class="fa fa-compass"></i></a>
				</li>
				<li class="Menu-item"><a class="Menu-link" href="javascript:" title="Camara"><i class="fa fa-camera"></i></a>
				</li>
				<li class="Menu-item"><a class="Menu-link" href="javascript:" title="Favoritos"><i
					class="fa fa-gratipay"></i></a></li>
				<li class="Menu-item Menu-logout"><a class="Menu-link" href="javascript:" title="Cerrar Sesion"><i
					class="fa fa-power-off"></i></a></li>
			</ul>
		</div>
	</div>
</nav>
<main class="Main">
	<section class="Posts">
		<article class="Post">
			<div class="Post-description">
				<div class="u-center_wrapper">
					<header class="Post-encabezado">
						<figure class="Post-usuario">
							<img class="Post-perfil" src="profile.gif" alt="doyomay"/>
							<a class="Post-usuario_link" href="javascript:">@doyomay</a>
						</figure>
						<span class="Post-timestamp">hace 4 min</span>
					</header>
					<p class="Post-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci culpa eveniet fuga pariatur perferendis,
						sint veniam vero! Dolores, earum sequi? Debitis distinctio in laudantium minus necessitatibus obcaecati
						omnis possimus, suscipit.
					</p>
					<ul class="Post-comments">
						<li class="Post-comment"><a class="Post-usercomment" href="javascript:">@user1</a>Lorem ipsum dolor sit
							amet, consectetur adipisicing elit.
						</li>
						<li class="Post-comment"><a class="Post-usercomment" href="javascript:">@user2</a>Lorem ipsum dolor sit
							amet, consectetur adipisicing elit.
						</li>
					</ul>
				</div>
			</div>
			<div class="u-center_wrapper">
				<form class="Post-comentario-form" action="/">
					<input class="Post-comentario-input" type="text" placeholder="di algo ..."/>
				</form>
			</div>
			<figure class="Post-imagen">
				<img class="Post-img"
						 src="https://ununsplash.imgix.net/photo-1422207134147-65fb81f59e38?fit=crop&fm=jpg&h=800&q=75&w=1050"
						 alt="paisaje"/>
			</figure>
		</article>
		<article class="Post">
			<div class="Post-description">
				<div class="u-center_wrapper">
					<header class="Post-encabezado">
						<figure class="Post-usuario">
							<img class="Post-perfil" src="profile.gif" alt="doyomay"/>
							<a class="Post-usuario_link" href="javascript:">@doyomay</a>
						</figure>
						<span class="Post-timestamp">hace 4 min</span>
					</header>
					<p class="Post-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci culpa eveniet fuga pariatur perferendis,
						sint veniam vero! Dolores, earum sequi? Debitis distinctio in laudantium minus necessitatibus obcaecati
						omnis possimus, suscipit.
					</p>
					<ul class="Post-comments">
						<li class="Post-comment"><a class="Post-usercomment" href="javascript:">@user1</a>Lorem ipsum dolor sit
							amet, consectetur adipisicing elit.
						</li>
						<li class="Post-comment"><a class="Post-usercomment" href="javascript:">@user2</a>Lorem ipsum dolor sit
							amet, consectetur adipisicing elit.
						</li>
					</ul>
				</div>
			</div>
			<div class="u-center_wrapper">
				<form class="Post-comentario-form" action="/">
					<input class="Post-comentario-input" type="text" placeholder="di algo ..."/>
				</form>
			</div>
			<figure class="Post-imagen">
				<img class="Post-img"
						 src="https://unsplash.imgix.net/photo-1430620081187-c59647bac29e?q=75&fm=jpg&w=1080&fit=max&s=91315efcf6f1f45a103ac1429b968556"
						 alt="paisaje"/>
			</figure>
		</article>
		<article class="Post">
			<div class="Post-description">
				<div class="u-center_wrapper">
					<header class="Post-encabezado">
						<figure class="Post-usuario">
							<img class="Post-perfil" src="profile.gif" alt="doyomay"/>
							<a class="Post-usuario_link" href="javascript:">@doyomay</a>
						</figure>
						<span class="Post-timestamp">hace 4 min</span>
					</header>
					<p class="Post-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci culpa eveniet fuga pariatur perferendis,
						sint veniam vero! Dolores, earum sequi? Debitis distinctio in laudantium minus necessitatibus obcaecati
						omnis possimus, suscipit.
					</p>
					<ul class="Post-comments">
						<li class="Post-comment"><a class="Post-usercomment" href="javascript:">@user1</a>Lorem ipsum dolor sit
							amet, consectetur adipisicing elit.
						</li>
						<li class="Post-comment"><a class="Post-usercomment" href="javascript:">@user2</a>Lorem ipsum dolor sit
							amet, consectetur adipisicing elit.
						</li>
					</ul>
				</div>
			</div>
			<div class="u-center_wrapper">
				<form class="Post-comentario-form" action="/">
					<input class="Post-comentario-input" type="text" placeholder="di algo ..."/>
				</form>
			</div>
			<figure class="Post-imagen">
				<img class="Post-img"
						 src="https://ununsplash.imgix.net/photo-1430126833726-4a091c572f3c?fit=crop&fm=jpg&h=750&q=75&w=1050"
						 alt="paisaje"/>
			</figure>
		</article>
	</section>
</main>
<script src="main.js"></script>
<script type='text/javascript' id="__bs_script__">//<![CDATA[
document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.7.10.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>
